<header>
    <img src="img/header.png" alt="Заголовок сайта">
    <div class="navbar">
        <span class="left_bar">
                    <a href="#" id="main">На главную</a>
                    <input [(ngModel)]="findText" placeholder="Введите текст для поиска...">
                </span>
        <div class="right_bar">
            <ul>
                <li>
                    <a href="#" id="login">Войти</a>
                </li>
                <li>
                    <a href="#" id="register">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="categories">
    <button *ngFor="let category of categories" (click)="onSelect(category)">{{category}}</button>
</div>

<div class="propositions">
    <ul>
        <li *ngFor="let cur_idea of (ideas | filterCategory: selectedCategory |filterText: findText)">
            <idea-card [idea]="cur_idea"></idea-card>
        </li>
    </ul>
</div>

<div class="map">
    <img src="img/map.png" alt="Карта с маркерами предложений">
</div>