<div class="proposition">
    <p class="proposition_content">
        <img class="proposition_picture" src={{idea.pictureUrl}}>
        <span class="proposition_header">{{idea.header}}</span>
        <br>
        <br>
        <span class="proposition_text">{{idea.content}}</span>
        <br>
    </p>
    <div class="proposition_info">
        <span class="proposition_date">
            {{idea.date}}
        </span>
        <span class="proposition_user">
            {{idea.user}}
        </span>
        <span class="proposition_category">
            {{idea.category}}
        </span>
    </div>
</div>