.navbar
{
    background: lightskyblue;
    line-height: 50px;
    font-family: sans-serif;
    font-size: 8pt;
}

.navbar a
{
    color: white;
    text-decoration: none;
}
.navbar a:hover
{
    text-decoration: underline;
}
.navbar .search
{
    display: inline;
    color: gray;
    margin-left: 10px;
}
.nav_links
{
    float: right;
    line-height: 50px;
}
.nav_links li
{
    margin-left: 10px;
    display: inline;
    text-align: right;
}   
.map
{
    float: right;
}

.categories li
{
        display: inline;
}

.proposition
{
    display: inline-block;
}

header img 
{
    width: 100%;
}